<%- include partials/header.ejs %>
<body>
    <div class='w3-card'>
        <header>
        <%- include partials/navbar.ejs %>

        </header>
        <div class='w3-container'>
            <br>
  
            <% perguntas.forEach(pergunta => { %>
                
                <div class="card">
                    <div class="card-body">
                        Tópico:<%= pergunta.titulo%>
                        <br>
                        Descrição:<%= pergunta.descricao%>

                    </div>
                    <div class="card-footer">
                        <a href="/pergunta/<%= pergunta.id %>"</a><button class="btn btn-primary">Acessar Base Cadastrada</button></a>
                    </div>
                </div>
            <% }) %>
    
        </div>

    </div>



</body>
<%- include partials/footer.ejs %>
